.root-about {
    margin: 0px auto 48px;
    width: 100%;
    max-width: 1720px;
    animation: docload 0.1s;
        overflow: hidden;
        height: auto;
    }
    @keyframes docload {
        0% {
            height: 0vh;
        }
        100% {
            height: 100vh;
        }
    }
.container-about {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    height: fit-content;
    color: white;
}
.about-title {
    margin: 120px auto 0px;
    display: block;
    width: 320px;
}
.about-left, .about-right {
    padding: 16px;
    width: 90%;
    max-width: 720px;
}
.imgfounded {
    width: 100%;
    max-width: 720px;
    border-radius: 20px;
}
.about-founded {
    font-size: 32px;
    margin-top: 20px;
    color: var(--bg-purple2);
    font-family: 'Chakra Petch', sans-serif;
}
.about-f-info {
    font-size: 18px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
}
.flex-beetween {
    justify-content: space-evenly;
    flex-flow: row wrap;
}
@media (min-width: 1080px){

    .about-left {
        width: 40%;
        max-width: 1000px;
    }
    .about-right {
        width: 54%;
        max-width: 1280px;
        padding: 16px;
    }
    .imgfounded {
        width: 100%;
        max-width: 1280px;
        border-radius: 20px;
    }
    .about-f-info {
        font-size: 20px;
    }
}
@media (min-width: 1720px) {

    .about-f-info {
        font-size: 24px;
    }
    .about-founded {
        font-size: 38px;
    }
}