.cursor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    width: 44px;
    height: 44px;
    left: calc(50vw - 16px);
    top: calc(50vh - 32px);
    pointer-events: none;
    transform: translate(-50%, -50%);
}
.cursor-wrapper {
    top: 0;
    z-index: 9999;
    position: fixed;
}
.cvertical {
    margin: 4px 18px;
    width: 4px;
    height: 10px;
    background: white;
    box-shadow: 0 0 3px white,0 0 3px white;
}
.chorizontal {
    margin: 0 6px;
    width: 10px;
    height: 4px;
    background: white;
    box-shadow: 0 0 3px white,0 0 3px white;
}
* {
    cursor: none;
}